@model List<Watchlist>
<<<<<<< HEAD
<style>
    .movie-image{
        width: 150px; 
    }

    .col-md-5{
        background-color: #181818;
        border: 1px solid #444444;
    }

    .movie-title{
        font-size: 25px;
    }

    .movie-description{
        font-size: 18px;
    }
</style>

<div class="container">
    <div class="row justify-content-center">
        @foreach (Watchlist Movie in Model)
        {
            <div class="col-md-5 m-3 d-flex align-items-center rounded p-3">
                    <div class="row">
                        <div class="col-md-4 d-flex justify-content-center align-items-center">
                            <img src="@Movie.Image" class="img-fluid movie-image rounded" />
                        </div>
                        <div class="col-md-8 d-flex flex-column justify-content-between py-4">
                        <a href="/Home/Detail?id=@Movie.ImdbId" class="text-decoration-none">
                            <div>
                                <div class="movie-title text-white">@Movie.Title</div>
                                <div class="movie-description text-white">@Movie.Description</div>
                            </div></a>
                            <form class="d-flex justify-content-center" method="post" asp-action="RemoveFromWatchlist">
                                @Html.Hidden("id", Movie.Id)
                                <button type="submit" class="btn btn-outline-danger rounded-pill">Remove from watchlist</button>
                            </form>
                        </div>
                    </div>
            </div>
        }
    </div>
</div>
=======

<div>
	@foreach(Watchlist Movie in Model)
	{
		<div>@Movie.Title</div>
	}
</div>
>>>>>>> a8ed6b4471308c552fab4e9b303e26967f16785c
